@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

.admin-profiles-page {
    display: flex;
    flex-direction: column;
    background-color: #1a1a1a;
    min-height: 100vh;
    gap: 20px;
    align-items: center;
    background-image: url("../assets/welcome/whitedog.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.admin-profiles-main-text {
    color: white;
    font-size: 40px;
    text-align: justify;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-left: -500px;
}

.admin-upcoming-apo-main-text {
    color: white;
    font-size: 40px;
    text-align: justify;
    font-family: "Montserrat";
    font-weight: bolder;
    margin-left: 270px;
}

.admin-profiles-no-appointments {
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    padding: 20px;
    border: 1px dashed #fff;
    max-width: 1000px;
    margin-top: 100px;
    margin-left: 300px;
}

.admin-profiles-no-appointments a {
    text-decoration: none;
    color: blue;
}

.admin-profiles-table-container {
    width: 100%;
    max-width: 770px;
    margin: 20px auto;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-right: 570px;
}

.admin-profiles-table {
    word-break: 100%;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}

.admin-profiles-table th, .admin-profiles-table td {
    padding: 12px 15px;
    text-align: center;
    border-bottom: 1px solid #ddd;
}

.admin-profiles-table th {
    background-color: #2E2E2E ;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
}

.admin-profiles-table tr:hover {
    background-color: #add8e6;
}

.admin-profiles-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-profiles-table td {
    font-size: 14px;
}

.button-gap {
    margin-right: 3px; 
}

.admin-profiles-btn {
    background-color: #2E2E2E;
    padding: 2px 3px;
}

.admin-profiles-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    align-items: center;
}

.admin-profiles-modal-content form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 0 15px;
    align-items: center;
}

.admin-profiles-modal-content label {
    font-weight: bold;
    padding: 5px;
}

.admin-profiles-modal-content input {
    margin-top: 5px;
    font-family: "Montserrat", sans-serif;
}

.admin-profiles-modal, .admin-profiles-overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.admin-profiles-overlay {
    background: rgba(49,49,49,0.8);
}

.admin-profiles-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
    text-align: center;
  }